@{
    ViewData["Title"] = "Home Page";
}

<div class="c-container__box">
    <textarea id="input" class="c-container__box c-container__box-editor"></textarea>
    <input id="submit" type="button" value="Check" />
    <textarea id="output" class="c-container__box c-container__box-editor"></textarea>
</div>
